// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .question {
    background-color: #F9F9F9;
  }

  .answer {
    background-color: #FFFEE7;
    font-weight: bold;
  }
